<div class="ui text container">
    <img style="display: block; margin-left: auto; margin-right: auto;" src="/images/logo.png">
    <form action="/search/detail/1" method="get">
        <div class="ui form">
            <div class="inline fields">
                <label for="choose">Choose:</label>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="type" value="tag" checked="" tabindex="0" class="hidden">
                        <label>Tag</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="type" value="hash" tabindex="0" class="hidden">
                        <label>Hash</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="type" value="ana" tabindex="0" class="hidden">
                        <label>Analyzer</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="type" value="col" tabindex="0" class="hidden">
                        <label>Collector</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui fluid action input">
            <input type="text" name="query" placeholder="Search...">
            <button class="ui icon button">
                <i class="search icon"></i>
            </button>
        </div>
    </form>
    <br>


    <div class="ui">
        {{!-- <a class="ui teal label">
            #Tag
        </a>
        <a class="ui label">
            #Tag
        </a>
        <a class="ui label">
            #Tag
        </a>
        <a class="ui label">
            #Tag
        </a>
        <a class="ui label">
            #Tag
        </a>
        <a class="ui label">
            #Tag
        </a>
        <a class="ui label">
            #Tag
        </a>
        <a class="ui label">
            #Tag
        </a>
        <a class="ui label">
            #Tag
        </a>
        <a class="ui label">
            #Tag
        </a>
        <a class="ui label">
            #Tag
        </a>

        <a class="ui label">
            #Tag
        </a>
        <a class="ui label">
            #Tag
        </a>
        <a class="ui label">
            #Tag
        </a>
        <a class="ui label">
            #Tag
        </a> --}}
    </div>
</div>

<script>
    $('.ui.radio.checkbox')
        .checkbox();
</script>
