<div class="ui text container">
    <img style="display: block; margin-left: auto; margin-right: auto;" src="/images/logo.png">
    <br>
    <div class="ui search">
        <div class="ui icon input">
            <input style="width: 100%;" class="prompt" type="text" placeholder="Search...">
            <i class="search icon"></i>
        </div>
        <div class="results"></div>
    </div>
    {{!-- <div class="ui fluid action input">
        <input type="text" placeholder="Search...">
        <button class="ui icon button">
            <i class="search icon"></i>
        </button>
    </div> --}}
    <br>
    <div class="ui">
        <a class="ui teal label">
            #Tag
        </a>
        <a class="ui label">
            #Tag
        </a>
        <a class="ui label">
            #Tag
        </a>
        <a class="ui label">
            #Tag
        </a>
        <a class="ui label">
            #Tag
        </a>
        <a class="ui label">
            #Tag
        </a>
        <a class="ui label">
            #Tag
        </a>
        <a class="ui label">
            #Tag
        </a>
        <a class="ui label">
            #Tag
        </a>
        <a class="ui label">
            #Tag
        </a>
        <a class="ui label">
            #Tag
        </a>

        <a class="ui label">
            #Tag
        </a>
        <a class="ui label">
            #Tag
        </a>
        <a class="ui label">
            #Tag
        </a>
        <a class="ui label">
            #Tag
        </a>
    </div>
</div>