<html>

<head>
    <title>OpenTI.info</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
</head>

<body>
    <div class="ui borderless huge top fixed main menu">
        <a href="/" class="item">
            OpenTI.info
        </a>
        {{!-- <a href="/search" class="item">Search</a> --}}
        <a href="/board" class="item">Board</a>
        <div class="right menu">
            <div class="item">
                <a href="/login" class="ui primary button">Login</a>
            </div>
        </div>
    </div>

    <br><br><br><br>
    {{{body}}}
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

</html>